<% page = {title: 'Film',slug:'film'} %>
<% assets = {
  css: [
  'film.css',
  'lib/jquery.fancybox.css'
  ],
  js: [
  'lib/jquery.fancybox.pack.js',
  'fancybox-blog.js',
  'image-resizer.js',
  ]
} %>

<div class="film-wrapper">

  <div class="film">
    <h2 class="film-title"><%= film.title %></h2>
    <div class="film-iframe"><%- film.html %></div>
    <p class="description"><%- film.description %></p>
  </div>
  <div class="fb-comments" data-href="http://tylergraf.com/film/<%= film.video_id %>/<%= film.title %>" data-width="640" data-num-posts="10"></div>
</div>