<!doctype html>
<html>
<head>
  <title>Tyler Graf | <%= page.title %></title>
  <meta name="description" content="Home">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
  <link rel="icon" href="/css/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-responsive.min.css">
  <link rel="stylesheet" type="text/css" href="/css/core.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/icons.css">
  <% if(typeof assets != "undefined" && assets.css) { %>
    <% for(var filename in assets.css) { %>
      <link rel="stylesheet" type="text/css" href="/css/<%= assets.css[filename] %>">
    <% } %>
  <% } %>
  <script type="text/javascript" src="http://use.typekit.com/hwz2jtd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=397813906983607";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="page page-skin-1 page-skin-ext-<%= page.slug %>">
  <div class="line">
    <header>
      <div class="page-header">
        <div class="unit size1of3">
        <h1><a href="/">Tyler Graf</a></h1>

        <h2><a href="/<%= page.slug %>"><%= page.slug %></a></h2>        </div>
        <div class="unit size2of3">
                  <nav class="nav page-nav-skin-header">
            <ul class="menu menu-skin-header">
              <li class="menu-item blog "><a href="/blog"><i class="icon tg-icon-blog"></i></a></li>
              <li class="menu-item film"><a href="/film"><i class="icon tg-icon-video"></i></a></li>
              <!-- <li class="menu-item photo "><a href="/photo"><i class="icon tg-icon-photo"></i></a></li> -->
              <!-- <li class="menu-item design "><a href="/design"><i class="icon tg-icon-screen"></i></a></li> -->
              <!-- <li class="menu-item about "><a href="/about"><i class="icon tg-icon-profile"></i></a></li> -->
            </ul>
          </nav>
          
        </div>
      </div>
    </header>
    
  </div>

<%- body %>

  
  <script src="/js/lib/jquery-1.9.0.min.js"></script>

  <% if(typeof assets != "undefined" && assets.js) { %>
    <% for(var filename in assets.js) { %>
      <script src="/js/<%= assets.js[filename] %>"></script>
    <% } %>
  <% } %>
</div>
</body>
</html>